* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

main {
    min-height: 100%;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #89EABF;
}

.cards_container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.card {
    text-align: center;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    max-width: 100%;
    overflow: hidden;
}

.card_img {
    max-width: 100%;
}

@media (max-width: 1024px) {
    main {
        background-color: #89D4EA;
    }
    .cards_container {
        grid-template-columns: 1fr 1fr;
    }
    .card_img {
        height: 245px;
    }
}

@media (max-width: 600px) {
    main {
        background-color: #F3EEEE;
    }
    .cards_container {
        grid-template-columns: 1fr;
    }
    .card_img {
        width: 100%;
    }
    .card {
        padding: 10px 25%;
    }
}


