body {
    padding: 0;
    margin: 0;
  }
  
  .main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
  }
  
  .table_wrapper {
    margin: 50px 0px;
  }
  
  .table_ctn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-width: 700px;
    min-height: 50px;
  }
  
  .row_container {
    display: contents;
  }
  
  .rows, .heading {
    height: 50px;
    min-width: 100px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .heading {
    color: white;
    background-color: #36304a;
    font-weight: bold; 
  }
  
  .rows {
    background-color: white;
  }
  
  .alternate_rows {
    background-color: #f5f5f5;   
  }
  