* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
nav{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #141111;
  color: white;
}
.logo{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 10px;
}
.logo img{
  height: 35px;
}
.menu ul li{
  font-size: large;
  font-weight: 700;
}
ul{
  display: flex;
  justify-content:space-between;
  gap: 1.5rem;
  list-style-type: none;
  padding: 1rem;
  font-size: medium;
}
a{
  text-decoration: none;
  color: white;
}
main{
  display: flex;
  height: 75vh;
}
.profile_pic{
    width: 50vw;
    background-image: url("./images/profile.jfif");
    background-size: cover;
    background-position: center; 
}
.content{
  width: 50vw;
  margin: 8rem;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
footer{
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: #271a1a;
  color: white;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li img{
  height: 25px;
}
p{
  text-align: center;
}
